#contact-container {
    border: solid 3px #474544;
    max-width: 600px;
    margin: 60px auto;
    position: relative;
    margin-top: 20px;
  }
  
  .contact-title {
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .contact-form {
    padding: 37.5px;
    margin: 50px 0;
  }
  
  .input-wrapper {
    margin-bottom: 1.875em;
  }
  
  .input-wrapper label {
    display: block;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  
  .input-wrapper input[type='text'],
  .input-wrapper input[type='email'],
  .input-wrapper textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    width: 100%;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .input-wrapper textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
  }
  
  .input-wrapper input[type='text']:focus,
  .input-wrapper input[type='email']:focus,
  .input-wrapper textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
  }
  
  #form-button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  #form-button:hover {
    background: #474544;
    color: #F2F3EB;
  }
  .Contact{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    height: 20vh;
    background-image: linear-gradient(to right, #446063, #CCD4DD);
  
  }