
.navbar-logo { 
  width: 20%;
  aspect-ratio: 4/3;
  object-fit: contain;
  height: 8vh;
  font-weight: bold;
  background-color: transparent;
  margin-left: -40px;
 
}

/* Styles for small devices (e.g., smartphones) */
@media screen and (max-width: 768px) {
  .navbar-logo {
    width: 40%; /* Adjust the width for small devices */
    height: auto; /* Allow the height to adjust based on aspect ratio */
    margin-left: 0; /* Remove margin for small devices if needed */
  }
}

.list-items {
  margin: 10px;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  letter-spacing: 0.5px;
  text-decoration: none;
  --b: 0.1em;
  --c: #1095c1;
  color: #0000;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

.list-items:hover {
  --_p: 100%;
  --_s: .3s;
}

button {
  width: fit-content;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 20px -18px;
}

button:active {
  transform: scale(0.95);
}



