.Ser-first-div {
    position: relative; 
    width: 100vw;
    height: 30vh;
    overflow: hidden; 
  }
  
  .Ser-first-text-container {
    position: absolute; /* Position the text container */
    top: 0; /* Position at the top of the div */
    left: 0; /* Position at the left of the div */
    width: 100%; /* Occupy the full width of the div */
    padding: 10px; /* Add padding for spacing */
    color: white; /* Set text color to white */
  }
  
  .Ser-first-div-image {
    width: 100%; /* Ensure the image width fits the first div */
    max-height: 100%; /* Ensure the image height fits the first div */
    object-fit: cover; /* Maintain aspect ratio and cover the available space */
    margin: 0; /* Remove any default margins */
  }
  
.Card-ser{
    width: 100vw;
    height: 80vh;
    border: 2px solid black;
}

.LinkStyle {
  text-decoration: none; /* Remove underline by default */
  color: black; /* Set the default text color */
}

/* Style the Link component when hovered */
.LinkStyle:hover {
  text-decoration: none; /* Add underline on hover */
  color: blue; /* Change text color to blue on hover */
}

.card-row {
  display: flex; /* Use Flexbox */
  flex-wrap: wrap; /* Wrap cards to the next row if they overflow */
  justify-content: space-between; /* Space between cards */
  gap: 20px; /* Adjust the gap between cards */
}

.card-1 {
  /* Style for each card */
  width: calc(33.33% - 20px); /* Adjust the card width and gap */
  /* Add other styling as needed */


  /* Responsive styles for larger devices (e.g., desktops) */
  @media (min-width: 768px) {
    width: calc(25% - 20px); /* Adjust card width for larger screens */
  }

  /* Responsive styles for smaller devices (e.g., mobile) */
  @media (max-width: 576px) {
    width: calc(50% - 20px); /* Adjust card width for smaller screens */
  }
}
