/* Default styles for larger devices */

/* First Section */
.first-div {
  position: relative;
  width: 100vw;
  height: 30vh;
  overflow: hidden;
}

.first-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
}

.first-div-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin: 0;
}

/* Second Section */
.Second-div {
  display: flex;
  width: 100vw;
  height: 80vh;
}

.Image-Div {
  flex: 1;
  padding: 30px;
}

.second-div-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Right Section */
.Right-div {
  flex: 2;
  padding: 10px;
}

.Right-div h2 {
  /* Your h2 styles for larger devices */
}

.Right-div p {
  /* Your p styles for larger devices */
}

/* Styles for small devices (e.g., smartphones) */
@media screen and (max-width: 768px) {
  /* First Section */
  .first-div {
    height: 50vh;
  }

  .first-text-container {
    padding: 5px;
  }

  .first-div-image {
    max-height: 50vh;
  }

  /* Second Section */
  .Image-Div {
    flex: 1;
    padding: 15px;
  }

  .second-div-image {
    max-height: 50vh; /* Adjust as needed */
  }

  /* Right Section */
  .Right-div {
    flex: 1;
    padding: 5px;
  }

  .Right-div h2 {
    font-size: 20px;
  }

  .Right-div p {
    font-size: 14px;
    line-height: 1.4;
  }
}
